.end {
  margin-top: 6%;
  min-height: 20vh;
};


.icon {
  display: block;
  padding: 14%;
  font-size: 2rem;
}

.font {
  font-family: 'Jost', sans-serif;
}

.wallpaper {
  background-image: url('./assets/img/galaxy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh);
}