.end {
  min-height: 20vh;
};

.font {
  font-family: 'Jost', sans-serif;
}

.wallpaper {
  background-image: url('./assets/img/galaxy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh);
  min-height: 100vh;
}

.icon {
  padding: 4%;
}
